.searchBox {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 40px;
}
h2 {
  margin: 0;
}
.searchBox input {
  width: 300px;
  padding: 5px 10px;
  box-sizing: border-box;
}
