.contactWrapper {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  width: 250px;
  height: 50px;
  padding: 10px;
  border-radius: 6px;
  margin-left: 50px;
}
.userinfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
p {
  margin: 0;
}
.contactBtn {
  width: 60px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid gray;
  margin-top: 5px;
}
